$backgroundColor : #4caf50;
    button:hover{
        color: $backgroundColor;
    }
    button{
        color: white;
    }
    h1 {
        color: #333;
        text-align: center;
      }
      
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }
      
      #screen4 {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      form {
        margin-bottom: 20px;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
      }
      
      input[type="number"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      #enter {
        margin-top: 20px;
        font-weight: bold;
        color: #333;
      }

    
